@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Lora:wght@400;500;600&display=swap');
:root {
  --txt-pri: #000;

  --bg-pri: #F4F3F8;

  --font-display: 'Lora', serif;

  --font-body: 'Josefin Sans', sans-serif; 
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--txt-pri);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-pri);
  font-family: var(--font-body);
  text-align: center;
}

header, main, footer, main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem;
}

header {
  margin-top: 0;
}

main {
  gap: 1rem;
  margin-bottom: 5rem;
}
 
main div {
  margin-block: 0rem;
}

h1, h2 {
  font-family: var(--font-display);
  font-size: 5rem;
  font-weight: 300;
  margin-block: 1.5rem;
}

h2 {
  font-size: 2.5rem;
  margin-block: 1.5rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
}

nav a {
  font-size: 1.2rem;
  font-weight: 300;
}

.offerings li {
  margin-block: 1rem;
}

.offerings h3 {
  margin-block: 0rem 0.5rem;
}



.offerings p, #opening td, #contact p {
  font-weight: 300;
  font-size: 0.9rem;
}

.auto-width {
  width: 100%;
  object-fit: cover;
}

.cafe-img {
  width: 90%;
}







